
body {
    font-family:'PT sans', Times, sans-serif;
    font-size: 1.2rem;
    line-height: 1.3em;
    background-image: url("psicobloke1.jpg");
    background-size: cover;
    background-attachment: fixed;
    flex-basis: 0;
    flex-wrap: 999;
    
}
/*aqui empieza el estilo de encabezado*/
img.logo1 {
    margin-left: 2rem;
}
.menu1 {
    
    
   
    
}
.menu2 {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.menu {
    background: black;
    color: red;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 500;


}
.menu a {
    color: red;
    text-decoration: none;
}
.menu3 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu3 ul li {
    display: inline-block;
}
.menu3 ul li a {
    
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    border-radius: 4px;
}
.menu3 ul li a:hover {
    background-color: dimgrey;
}
#actual  {
    color: aqua;
}
/* aqui acaba el estilo del encabezado
y le hago el padin al main que contiene las secciones para que no quede debajo del encabezado */
.bajar {
    margin-top: 14rem;
}




div.parrafos {
    position: relative;
    text-align: center;
    width: 70%;
    margin: 1.5em;
    border: 1px dotted #f00;
    color: red;
    background: black;
    border-radius: 5px;
    opacity: 0.9;

    
}
.parrafos h4 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}



.destacado {
    color: blue
}

.youtube {
    color: rgb(4, 0, 255)
}


img.imgprincipal {
   width: 70%;
    margin: 1.5em;
}


.fotoen {
    width: 70%;
    padding: 20px 20px;
    background: black;
    border-radius: 5px;
    line-height: 1.5;
    box-shadow: grey;
    color: red;
    line-height: 60px;
    font-style: oblique;
    opacity: 0.9;

}
.fotoen img{
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    opacity: 1;
}
.fotoen1 {
    margin-top: 2rem;
    width: 70%;
    padding: 20px 20px;
    background: black;
    border-radius: 5px;
    line-height: 1.5;
    box-shadow: grey;
    color: red;
    line-height: 60px;
    font-style: oblique;
    opacity: 0.9;

}
.fotoen1 img{
    border-radius: 5px;
    float: right;
    margin-right: 5px;
        
}

.fotoen2 {
    padding: 20px 20px;
    background: #000000;
    border-radius: 5px;
    line-height: 1.5;
    box-shadow: grey;
    color: red;
    line-height: 60px;
    font-style: oblique;
    opacity: 0.9;
    text-align: center;
    
}
.fotoen2 ul {
    list-style: none;
}

.fotoen2 h4 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    
}
.fotoen3 {
    width: 70%;
    padding: 20px 20px;
    background: black;
    border-radius: 5px;
    line-height: 1.5;
    box-shadow: grey;
    color: red;
    line-height: 60px;
    font-style: oblique;
    opacity: 0.9;
    max-width: 49%;
    margin: 2px;
}

.fotoen3 img{
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    opacity: 1;
}
    
.fotoen4 {
    width: 70%;
    padding: 20px 20px;
    background: black;
    border-radius: 5px;
    line-height: 1.5;
    box-shadow: grey;
    color: red;
    line-height: 60px;
    font-style: oblique;
    opacity: 0.9;
    max-width: 49%;
    margin: 2px;
}

.fotoen4 img{
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    opacity: 1;
}
.cuadricula{
    display: flex;
}
.cuadricula .fotoen3{
    float: left;
}

  


.cuadricula h5{
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}
.centrarh4 h4 {
    color: red;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    background: black;
    opacity: 0.9;
}
.publicidad1 {
    position: fixed;
    width: 20%;
    right: 0%;
    top: 30%;
    margin: 1em; 
}
.publicidad2 {
    position: fixed;
    width: 20%;
    right: 0%;
    top: 48%;
    margin: 1em;
    
}